
body{
  margin:0px;
}
.App {
  min-height: 100vh;
  width:100%; 
position: absolute;
top: 0px;
left:0px;
  text-align: center;
  background-image: linear-gradient(to left , #f58866, #f3b2f3);
}
.title
{
  font-family: "Roboto";
  font-weight:900;
  margin-top:6vw; 
  font-size:5vw;
  color:#fff;
  text-transform: uppercase;
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:4vw;
}
.search-bar {
  width: 50%;
  border: none;
  padding: 1vw;
  text-align: center;
  font-family: "Roboto";
  font-weight:300;
  font-size:1.6vw;
}
.search-bar:focus{
  outline: none;
}
.search-button {
  background: #000;
  border: none;
  padding: 1vw 2vw;
  color: white;
  font-family: "Roboto";
  font-weight:900;
  font-size:1.6vw;
  text-transform:uppercase; 
  cursor: pointer;
}
.search-button:hover
{
background:rgb(102, 101, 101);
}
.search-button:focus
{
  outline:none;
}
.recipes {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.recipe {
  border-radius: 0vw;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #fff;
  align-items: center;
  min-width: 40%;
  font-family: "Roboto", sans-serif;
  max-width: 37em;
  min-height: 38em;
  padding:2vw 1vw;
}
.recipe-title
{
  font-family: "Roboto";
  font-size:3vw;
  font-weight:900;
  margin:0.75vw; 
}
.image {
  border-radius: 1vw;
  height: 200px;
  width: 200px;
  margin: 0.5vw;
}
.cals
{
  font-family: "Roboto";
  font-weight:900;
}